@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.cdnfonts.com/css/technology?styles=26651");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Share Tech Mono", monospace !important;
  background-color: #212529 !important;
  color: #fff !important;
  margin: 0 !important;
  height: 100vh !important;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 8px 32px 0 rgba(135, 47, 31, 0.37);
}

span {
  color: #fa3939;
}

.navbar-brand {
  font-size: 24px !important;
  font-weight: bold;
  color: rgb(239, 239, 239);
  font-family: "Share Tech Mono", monospace;
}

#navbarNav a {
    transition: 0.2s all ease-in-out !important;
    color: rgb(255, 255, 255) !important;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Share Tech Mono", monospace;
}

#navbarNav a:hover {
  color: rgb(63, 59, 59) !important;
}

.navbar-btn {
  padding: 10px;
  background-color: #fa3939 !important;
  border-radius: 10px !important;
  transition: 0.2s all ease-in-out;
  box-shadow: 0 8px 32px 0 rgba(135, 47, 31, 0.6) !important;
  text-decoration: none;
  list-style: none;
  display: block;
}

.navbar-btn:hover {
  transform: scale(1.1);
  background-color: #f10505 !important;
  box-shadow: 0 8px 32px 0 rgba(135, 47, 31, 0.8) !important;
}

.pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pfp img {
  max-width: 175px;
  border-radius: 50%;
}

.hero-text {
  display: flex;
  font-family: "Share Tech Mono", monospace;
  flex-direction: column;
  justify-content: center;

  margin-top: 50px;
}

.heading h1 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

